*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    /* background-color: blanchedalmond; */
    background-color: #E5E5E5;
}

.header{
    height: 20vh;
    background-color: #8b0000;
    border: rgb(20, 20, 20) 3px solid;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;  
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.header .container h1 a{
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.navbar li{
    margin-right: 50px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.navbar .active a:hover{
    border: black 3px solid;
    border-radius: 20px;
    background-color: white;
    color: #8b0000;
    padding: 5px;
}

.navbar .active a{
    color: white;
    border: black 3px solid;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px;
}

#sel_perfil{
    background: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.op_perfil{
    background-color: white;
    color: black;
}

.conteudo{
    height: 70vh;
    border-bottom: 3px solid black;
}

.info{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_imagens{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.ul_imagens img{
    width: 150px; 
    height: 150px;
}

.ul_imagens li{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

.ul_imagens span{
    font-size: 15px;
}






#div_conteudo3{
    height: 90vh;
    background-image: url(https://prod-zettle-eu-west-1-zettle-blog-uploads.s3.eu-west-1.amazonaws.com/uploads/2018/09/Depositphotos_78929640_l-2015-1.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: flex;
}

.calculadora{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.calculadora input{
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
}  

.calculadora button{
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    width: 150px;
    height: 40px;
    cursor:pointer;
    border: none;
}

.calculadora button:hover{
    background-color: white;
    color: #8b0000;
    border: black 3px solid;
}

.principal{
    display: block;
    margin-top: 50px;
    margin-left: 35%;
    background-color: #8b0000;
    width: 270px;
    border: black 3px solid;
    color: white;
    text-align: center;
    padding: 15px;
}

.sumir{
    display: none;
    margin-top: 50px;
    margin-left: 35%;
    background-color: #8b0000;
    width: 270px;
    border: black 3px solid;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer {
    color: white;
    background-color: #8b0000;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}