#div_b{
    background-color: #8b0000;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

u{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#div_cadastro{
    background-color: #8b0000;
    height: 90vh;
    width: 50vw;
    display: flex;
    margin-top: 40px;
    border: black solid 8px;
}

#div_aa{
    color: white;
    font-size: 50px;
}

#div_ee{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_bb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-top: 160px;
    font-size: 30px;
}

button{
    cursor: pointer;
    width: 100px;
}

b{
    color: white;
    font-size: 16px;
    word-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#div_cc{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#div_cc{
    font-size: 19px;
}
