*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para as inputs respeitarem a largura que coloquei*/
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
} 

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none; /*Tirar as bordas azuis dos inputs*/
}

a{
color: grey;
text-decoration: none;
}


body {
    background-image: url(./img/fundo\ cadastro.jpg);
    background-size: cover;
}

/*Formulario*/

.formulario {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.formulario h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 34px;
}

input:focus {
    border-color: orange;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    width: 100%;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

/*navbar*/

.div_navbar{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.div_navbar ul li{
    display: inline;
    font-size: bold;
    font-weight: bolder;
    margin: 30px;
    color: grey;
}

.div_navbar ul{
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.menu{
    list-style: none;
    padding-left: 231px;
    display: inline;
    font-weight: bolder;
    list-style: none;
}


.logca{
    display: inline;
    justify-content: end;
}