*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
}

body {
    background-image: url(./fundo\ login.jpg);
    background-size: cover;
}

.header {
    height: 9vh;
    background-color: #8b0000;
}

.header .container {
    width: 80%;
    height: 100%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.header .container h1 {
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: white;
}

.navbar li{
    margin-right: 50px;
    color: white;
    font-size: 20px;
}

.navbar li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.navbar .active{
    font-weight: bolder;
    cursor: pointer;
}

.div_centralizar {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea:focus, input:focus {
    outline: none;
}

a, label{
    font-size: .8rem;
}

a:hover {
    color: red;
}

#login-container {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid red;
}

#forgot-pass {
    text-align: right;
    display: block;
}

.btn {
    width: 100%;
    background-color: red;
    cursor: pointer;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
}

.footer {
    background-color: #8b0000;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    color: white;
}