*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.header{
    height: 20vh;
    background-color: #8b0000;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;  
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.header .container h1{
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.navbar li{
    margin-right: 50px;
    color: white;
    font-size: 20px;
}

.navbar .active{
    font-weight: bolder;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.navbar .active a:hover{
    border: black 3px solid;
    border-radius: 20px;
    background-color: white;
    color: #8b0000;
    padding: 5px;
}

.navbar .active a{
    color: white;
    border: black 3px solid;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px;
}

.Fundo2{
    height: 70vh;
    width: 100%;
    background-image: url(img/Fundo02.png);
    background-repeat: no-repeat;
    background-size: cover; 
    border-bottom: black 3px solid;
}

.conteudo4{
    width: 80%;
    height: 100%;
    margin: auto;
}

.conteudo4 b{
    color: white;
    font-size: 30px;
}
.conteudo4 span{
    color: white;
    font-size: 20px;
    text-shadow: black 1px 1px 1px;
}

.conteudo4 span b{
    font-size: 21px;
}

.Fundo3{
    height: 63vh;
    width: 100%;
}

.conteudo5{
    width: 80%;
    height: 100%;
    margin: auto;
}

.conteudo5 h1{
    color: #FF2121;
    font-size: 50px;
    margin-top: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    width: 260px;
}

.conteudo5 span{
    font-size: 20px;
}

.Fundo4{
    height: 60vh;
    width: 100%;
    background-image: url(img/Fundo03.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: black 3px solid;
    border-top: black 3px solid;
}

.conteudo6{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.conteudo6 h1{
    color: #FF2121;
    font-size: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 23px;
    width: 105px;
}

.conteudo6 h2{
    font-size: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline; 
}

.conteudo6 span{
    font-size: 20px;
}

.divisoria{
    background-color: #FF2121;
    width: 100%;
    height: 5px;
}

.conteudo2{
    height: 48vh;
    background-color: black;
}

.contato{
    width: 80%;
    height: 100%;
    margin: auto;
}

.footer {
    background-color: #8b0000;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}