*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.header{
    height: 18vh;
    background-color: #8b0000;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.header .container h1 {
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: white;
}

.navbar li{
    margin-right: 50px;
    color: white;
    font-size: 20px;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.navbar .active{
    font-weight: bolder;
    cursor: pointer;
}

.banner-login{
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('');
    background-size: cover; */
}

.banner-login .container {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-login .container .card {
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    border-radius: 10px;
}

.btn {
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px;
    color: white;
    background-color: black;
    width: 169px;
    align-self: center;
    cursor: pointer; 
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    background-color: #8b0000;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}