*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.header{
    height: 18vh;
    background-color: #8b0000;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;  
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.header .container h1{
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.navbar li{
    margin-right: 50px;
    color: white;
    font-size: 20px;
}

.navbar .active{
    font-weight: bolder;
    cursor: pointer;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.Fundo2{
    height: 70vh;
    width: 100%;
    background-image: url(assets/imgs/Fundo02.png);
    background-repeat: no-repeat;
    background-size: cover; 
    border-bottom: black 3px solid;
}

.conteudo4{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.conteudo4 b{
    color: white;
    font-size: 30px;
}
.conteudo4 span{
    color: white;
    font-size: 20px;
    text-shadow: black 1px 1px 1px;
}

.conteudo4 span b{
    font-size: 21px;
}

.Fundo3{
    height: 45vh;
    width: 100%;
}

.conteudo5{
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 28px;
}

.conteudo5 h1{
    color: #FF2121;
    font-size: 50px;
    margin-top: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    width: 260px;
}

.conteudo5 span{
    font-size: 20px;
}

.Fundo4{
    height: 60vh;
    width: 100%;
    background-image: url(assets/imgs/Fundo03.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: black 3px solid;
    border-top: black 3px solid;
}

.conteudo6{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.conteudo6 h1{
    color: #FF2121;
    font-size: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 23px;
    width: 105px;
}

.conteudo6 h2{
    font-size: 25px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.conteudo6 span{
    font-size: 20px;
}

.divisoria{
    background-color: #FF2121;
    width: 100%;
    height: 5px;
}

.conteudo2{
    height: 40vh;
    background-color: black;
    display: flex;
}

.contato{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex; 
}

.fale_conosco{
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ipt_nome{
    width: 450px;
    height: 24px;
}

.ipt_email{
    width: 450px;
    height: 24px;
    
}

.ipt_telefone{
    width: 450px;
    height: 24px;
}

.ipt_assunto{
    width: 450px;
    height: 24px;
}

.area_desc{
    width: 450px;
}

.but_enviar {
    height: 25px;
    width: 450px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    border: black 1px solid;
}

.but_enviar:hover{
    background-color: #fa0707;
}

.footer {
    background-color: #8b0000;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}