*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.header{
    height: 20vh;
    background-color: #8b0000;
    border: rgb(20, 20, 20) 3px solid;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.header .container h1 a{
    color: whitesmoke;
    font-size: 60px;
    text-decoration: none;
}

.navbar{  
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.navbar li{
    margin-right: 50px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
   color: black;
}

.navbar .active a:hover{
    border: black 3px solid;
    border-radius: 20px;
    background-color: white;
    color: #8b0000;
    padding: 5px;
}

.navbar .active a{
    color: white;
    border: black 3px solid;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px;
}

.banner {
    height: 70vh;
    width: 100%;
    background-image: url('img/estacionamento.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao{
    height: 5px;
    background-color: black;
}

.conteudo{
    height: 55vh;
    border: 0px solid;
}

.about{
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
}
.about h1{
    color: #FF2121;
    margin-top: 90px;
    font-size: 60px;
    background-color: white;
    width: 310px;
    border-radius: 25px;
    padding: 5px;
}
.about span{
    font-size: 20px;
}

.Btn_saibamais{
    border: 0px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    width: 200px;
    height: 55px;
    margin-left: 80%;
    cursor:pointer;
}

.Btn_saibamais a{
    color:white;
    text-decoration: none;
}

.proposito {
    height: 68vh;
    background-color: #E5E5E5;
}

.proposito .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proposito .container h2 {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    color: #FF2121;
}

.proposito .container .mvv div img {
    height: 100px;  
} 

.proposito .container .mvv {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.proposito .container .mvv div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proposito .container .mvv div h3 {
   color: #E6005A; 
   font-weight: bolder;
   margin: 25px 0;
}

#divisao3{
    height: 5px;
    background-color: #8b0000;
}

.conteudo2{
    height: 48vh;
    background-color: black;
}

.contato{
    width: 80%;
    height: 100%;
    margin: auto;
}

.footer {
    color: white;
    background-color: #8b0000;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}