body{
    padding: 0px;
    margin: 0px;
    background-image: url(img/login.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_login{
    background-color: #8b0000;
    height: 830px;
    width: 800px;
    display: flex;
    margin: 40px;
    border: black solid 8px;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding-left: 25px; 
}

a{
    text-decoration: none;
    color: white;
}

#titulo a:hover{
    color: black;
}

#div_dados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    padding-top: 0px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}

#div_dados .alterar{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

#div_dados input{
    height: 20px;
    border-radius: 8px;
    border: black 2px solid;
}

#div_linha{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 17px;
}

#but_acessar{
    border: 3px black solid;
    width: 180px;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

#div_cadastro{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: white;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
}

#but_cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 130px;
    border: 2px black solid;
    background-color: gray;
    border-radius: 8px;
}

#but_cadastrar:hover{
    color: black;
}

